<div  class="jumbotron text-center">
  <h1>Full Stack App</h1>
  <p class="lead">Welcome to our custom</p>
  <p class="lead">Developed by Senzo Tshezi from back to front end</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p> Nodejs web api </p>
  </div>

  <div class="col-md-4">
      <h3>Angular</h3>
      <p> angular4 </p>
  </div>

  <div class="col-md-4">
      <h3>JWT Tokens</h3>
      <p> Token base authentication </p>
  </div>

</div>